.DS_Store

/Library/
/Logs/
/ProfileAnalyzer/
/Temp/
/UserSettings/
/obj/

/*.sln
/*.csproj
/.vs/
/.vscode/

/Assets/AddressableAssetsData/Windows/**
/Assets/AddressableAssetsData/Windows.meta
/Assets/AddressableAssetsData/Android/**
/Assets/AddressableAssetsData/Android.meta
/Assets/AddressableAssetsData/iOS/**
/Assets/AddressableAssetsData/iOS.meta
/Assets/StreamingAssets/aa/**
/Assets/StreamingAssets/aa.meta

/Build/
/ExamReports/
